<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="PixOn Todos">
  <meta name="author" content="Noli">
  <title>PixOn Todos</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="views/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/css/bootstrap-datatable.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
  <!--<link rel="stylesheet" href="views/main.css">-->
  <script src="views/js/jquery.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="views/js/bootstrap.min.js"></script>
  <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
  <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
  <script src="views/js/bootstrap-datatable.min.js"></script>
  <script src="views/socketio.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <h1>
        Todo List

        <span>
          <form class="form-inline pull-right" id="formLogin">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Login</label>
              <input type="text" class="form-control" id="inputLogin" placeholder="Login">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">login/register</button>
          </form>
        </span>
      </h1>

      <hr/>
      <h4>
        New task
      </h4>

      <form id="formTask">
        <div class="form-group">
          <label for="inpFeature">Feature</label>
          <select class="form-control" id="inpFeature">
            <% taskFeatures.forEach(function(taskFeature) { %>
              <option value="<%= taskFeature.id %>"> <%= taskFeature.name %> </option>
            <% }); %>
          </select>

          <div class = "form-group">
            <label for = "name">Description</label>
            <textarea id="inpTask" class = "form-control" rows = "3" placeholder="Describe your task here"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Create task</button>
        </div>
      </form>

      <hr/>
      <!--<form class="new-task" id="formTask">
        <input id="inpTask" type="text" name="text" placeholder="Type to add new tasks" />
      </form>-->

    </header>
    <table id="tasks" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Task</th>
          <th>State</th>
          <th>Date</th>
          <th>User</th>
        </tr>
      </thead>
    </table>
  </div>

  <script>
    var feature = [];
    var state = [];
    <% taskFeatures.forEach(function(taskFeature) { %>
      feature[<%= taskFeature.id %>] = "<%= taskFeature.name %>";
    <% }); %>
    <% taskStates.forEach(function(taskState) { %>
      state[<%= taskState.id %>] = "<%= taskState.name %>";
    <% }); %>
  </script>
  <script src="views/todos.js"></script>
</body>

</html>
